/* /* RESETEO */
html,
body {
  font-size: roboto, arial;
  background-color: #BDB67F;
  margin: 0px;
  /* BARRA DE NAVEGACION */
  /* IDENTIFICACION GRID-AREA DIVS */
  /* AJUSTE IMAGEN LOGO */
  /* CONFIGURACION INTERNA NAVEGADOR */
  /* GRID SECCION INTERNA */
  /* FOOTER - FLEX */
  /* ------------------------------ */
  /* --------------------------- */
  /* --------------------------------- */
  /* ------------------------------------- */
  /* ESTILOS PREGUNTAS FRECUENTES */
  /* CARRITO DE COMPRAS SECCION PRODUCTOS */
  /* ---------MEDIA--------- */ }
  html .navegador,
  body .navegador {
    display: grid;
    grid-template-areas: "titulo titulo titulo"
 "logo menu buscador";
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: auto 80px;
    background-color: #f8f32a;
    background-image: linear-gradient(180deg, #f8f32a 43%, #bdb67f 100%); }
  html .navegador > div,
  body .navegador > div {
    justify-content: center;
    display: flex;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto; }
  html h1,
  body h1 {
    margin: 10px;
    font-size: medium; }
  html .logo,
  body .logo {
    grid-area: logo;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center; }
  html .titulo,
  body .titulo {
    grid-area: titulo;
    align-items: center;
    background-color: #f8f32a;
    background-image: linear-gradient(0deg, #f8f32a 0%, #080600 100%);
    color: #f4f2f3;
    height: 10%; }
  html .menu,
  body .menu {
    grid-area: menu;
    align-items: center;
    display: flex;
    justify-content: center; }
  html .buscador,
  body .buscador {
    grid-area: buscador;
    justify-content: center;
    align-items: center; }
  html .img-envio,
  body .img-envio {
    max-width: 25%; }
  html .ul > li,
  body .ul > li {
    display: flex; }
  html .ul-li a,
  body .ul-li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #0d1321;
    justify-self: center;
    width: 100%; }
  html .ul-li,
  body .ul-li {
    list-style: none;
    width: 100%;
    display: flex; }
  html .ul-li li,
  body .ul-li li {
    width: 100%;
    display: inline; }
  html .grid-main,
  body .grid-main {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: minmax(auto, 100%);
    grid-template-areas: "titulo elegirnos elegirnos"
 "categorias elegirnos elegirnos"
 "categorias img-envio-gratis t-envio-g"
 "categorias img-devoluciones t-devolucion"
 "categorias img-garantia t-garantia"
 "categorias img-seguridad t-seguridad"
 "medio-de-pago img-cripto img-tarjetas"
 "medio-de-pago img-cripto img-tarjetas"; }
  html .grid-main-productos,
  body .grid-main-productos {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: minmax(20px, 100%);
    grid-template-areas: "titulo productos"
 "categorias productos"
 "categorias productos"
 "categorias productos"; }
  html .grid-main div,
  body .grid-main div {
    margin: 0%;
    padding: 0%;
    width: 100%; }
  html .grid-main div > p,
  body .grid-main div > p {
    margin-right: 20%; }
  html .grid-main div > img,
  body .grid-main div > img {
    width: 20%;
    justify-self: center;
    margin-left: 35%; }
  html .grid-main div > img:hover,
  body .grid-main div > img:hover {
    transform: scale(1.1);
    transition: all 0, 5s; }
  html .productos-area,
  body .productos-area {
    grid-area: productos; }
  html .titulo-categoria,
  body .titulo-categoria {
    grid-area: titulo;
    background-color: #F8F2CB;
    text-align: center;
    font-size: x-large;
    display: inline-block;
    border-radius: 0px;
    background: #e0e0e0;
    box-shadow: inset 29px 29px 59px #989898,
 inset -29px -29px 59px #ffffff; }
  html .categorias,
  body .categorias {
    grid-area: categorias;
    background-color: #BDB67F;
    width: auto;
    display: flex;
    margin-top: 0%;
    padding-top: 0%; }
  html .porque-elegirnos,
  body .porque-elegirnos {
    grid-area: elegirnos;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    color: black;
    font: weight 900px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: wavy; }
  html .porque-elegirnos p,
  body .porque-elegirnos p {
    margin-top: 4%;
    margin-bottom: 2%; }
  html .img-envio-gratis,
  body .img-envio-gratis {
    grid-area: img-envio-gratis;
    display: flex;
    width: max-content;
    height: max-content; }
  html .texto-envios-gratis,
  body .texto-envios-gratis {
    grid-area: t-envio-g;
    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    width: max-content;
    height: max-content; }
  html .img-devolucion,
  body .img-devolucion {
    grid-area: img-devoluciones;
    display: flex;
    width: max-content;
    height: max-content; }
  html .texto-devolucion,
  body .texto-devolucion {
    grid-area: t-devolucion;
    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: bold; }
  html .img-garantia,
  body .img-garantia {
    grid-area: img-garantia;
    display: flex;
    width: max-content;
    height: max-content; }
  html .texto-garantia,
  body .texto-garantia {
    grid-area: t-garantia;
    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: bold; }
  html .img-seguridad,
  body .img-seguridad {
    grid-area: img-seguridad;
    display: flex;
    width: max-content;
    height: max-content; }
  html .texto-seguridad,
  body .texto-seguridad {
    grid-area: t-seguridad;
    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: bold; }
  html .titulo-medio-de-pago,
  body .titulo-medio-de-pago {
    display: flex;
    grid-area: medio-de-pago;
    background-color: #f4f2f3;
    background-image: linear-gradient(90deg, #f4f2f3 38%, #bdb67f 100%);
    text-align: center;
    align-items: center;
    height: 100%; }
  html .titulo-medio-de-pago h2,
  body .titulo-medio-de-pago h2 {
    width: 100%;
    margin: 0 auto; }
  html .img-efectivo,
  body .img-efectivo {
    grid-area: img-efectivo;
    width: max-content;
    height: max-content; }
  html .img-transferencia,
  body .img-transferencia {
    grid-area: img-transferencia;
    width: max-content;
    height: max-content; }
  html .img-tarjetas,
  body .img-tarjetas {
    grid-area: img-tarjetas;
    max-width: auto;
    width: max-content;
    height: max-content; }
  html .img-criptomonedas,
  body .img-criptomonedas {
    grid-area: img-cripto;
    max-width: auto;
    width: max-content;
    height: max-content; }
  html .categorias ul,
  body .categorias ul {
    width: 100%;
    align-self: center;
    justify-items: center; }
  html .categorias li,
  body .categorias li {
    justify-items: center; }
  html .categorias li,
  body .categorias li {
    list-style: none;
    text-decoration: none;
    background-color: aliceblue;
    width: 70%;
    border-radius: 20px;
    text-align: center; }
  html .categorias a,
  body .categorias a {
    text-decoration: none;
    color: black; }
  html .listado,
  body .listado {
    width: 100%;
    height: 100%;
    margin-left: 0%;
    padding-left: 0%;
    background-color: #e5e027;
    background-image: linear-gradient(90deg, #e5e027 38%, #bdb67f 100%); }
  html .listado li,
  body .listado li {
    margin: 30px auto; }
  html .grid-main > div p,
  body .grid-main > div p {
    font-size: larger; }
  html .img-tarjetas p,
  body .img-tarjetas p {
    text-align: center; }
  html .img-criptomonedas p,
  body .img-criptomonedas p {
    text-align: center; }
  html .footer,
  body .footer {
    display: flex;
    background-color: #272925;
    margin-top: 20px;
    margin-bottom: 20px; }
  html .footer > div,
  body .footer > div {
    display: inline-block;
    position: relative;
    text-align: center; }
  html .texto-wpp,
  body .texto-wpp {
    position: absolute;
    top: 40%;
    left: 37%;
    display: none;
    color: #f4f2f3;
    font-weight: 800;
    font-size: 100%; }
  html .img-wpp:hover,
  body .img-wpp:hover {
    opacity: 15%; }
  html .div-wpp:hover .texto-wpp,
  body .div-wpp:hover .texto-wpp {
    display: block; }
  html .texto-face,
  body .texto-face {
    position: absolute;
    top: 40%;
    left: 40%;
    display: none;
    color: #f4f2f3;
    font-weight: 800;
    font-size: 100%; }
  html .img-face:hover,
  body .img-face:hover {
    opacity: 15%; }
  html .div-face:hover .texto-face,
  body .div-face:hover .texto-face {
    display: block; }
  html .texto-insta,
  body .texto-insta {
    position: absolute;
    top: 40%;
    left: 40%;
    display: none;
    color: #f4f2f3;
    font-weight: 800;
    font-size: 100%; }
  html .img-insta:hover,
  body .img-insta:hover {
    opacity: 15%; }
  html .div-insta:hover .texto-insta,
  body .div-insta:hover .texto-insta {
    display: block; }
  html .footer img,
  body .footer img {
    width: 32%;
    margin: 5%; }
  html .quienes,
  html .preguntas,
  body .quienes,
  body .preguntas {
    display: grid; }
  html .m-p,
  body .m-p {
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;
    flex-wrap: wrap; }
  html .img-cripto,
  body .img-cripto {
    width: 50%;
    margin-left: 30%; }
  html .necesito,
  body .necesito {
    align-self: center; }
  html .carrito,
  body .carrito {
    background-image: url(../Image/carrito.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    color: transparent;
    border: none;
    background-color: transparent; }
  @media (max-width: 992px) {
    html .grid-main,
    body .grid-main {
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-template-rows: minmax(auto, 100%);
      grid-template-areas: "elegirnos elegirnos"
 "img-envio-gratis t-envio-g"
 "img-devoluciones t-devolucion"
 "img-garantia t-garantia"
 "img-seguridad t-seguridad"
 "medio-de-pago medio-de-pago"
 "img-cripto img-tarjetas"; }
    html .grid-main-productos,
    body .grid-main-productos {
      grid-template-columns: 1fr;
      grid-template-areas: "productos"; }
    html .texto-wpp,
    html .texto-face,
    html .texto-insta,
    body .texto-wpp,
    body .texto-face,
    body .texto-insta {
      font-size: 75%; }
    html .categorias,
    html .titulo-categoria,
    body .categorias,
    body .titulo-categoria {
      display: none; } }
  @media (max-width: 944px) {
    html .necesito,
    body .necesito {
      width: 50%;
      margin-left: 15%; }
    html .buscador-content,
    body .buscador-content {
      display: flex;
      justify-items: center; }
    html .menu a,
    body .menu a {
      font-size: 15px; }
    html .porque-elegirnos,
    body .porque-elegirnos {
      font-size: 30px; }
    html .titulo-categoria,
    body .titulo-categoria {
      font-size: large;
      display: none; }
    html .listado,
    body .listado {
      font-size: 12px; }
    html .texto-envios-gratis,
    html .texto-devolucion,
    html .texto-garantia,
    html .texto-seguridad,
    body .texto-envios-gratis,
    body .texto-devolucion,
    body .texto-garantia,
    body .texto-seguridad {
      font-size: 15px; } }
  @media (max-width: 800px) {
    html .necesito,
    body .necesito {
      display: none; }
    html .porque-elegirnos,
    body .porque-elegirnos {
      font-size: 20px;
      font-weight: 600; }
    html .img-envio,
    body .img-envio {
      display: none; }
    html .buscador,
    body .buscador {
      display: none; }
    html div > h1,
    body div > h1 {
      display: none; }
    html .texto-wpp,
    html .texto-face,
    html .texto-insta,
    body .texto-wpp,
    body .texto-face,
    body .texto-insta {
      font-size: 57%; } }
  @media (max-width: 650px) {
    html .quienes,
    html .preguntas,
    html .li-quienes,
    html .li-preguntas,
    body .quienes,
    body .preguntas,
    body .li-quienes,
    body .li-preguntas {
      display: none;
      width: 0%;
      height: 0%; }
    html .logo,
    body .logo {
      display: none; }
    html .necesito,
    body .necesito {
      display: none; }
    html .productos,
    body .productos {
      padding-left: 15px; }
    html .img-envio,
    body .img-envio {
      display: none; }
    html .titulo-categoria,
    html .categorias,
    body .titulo-categoria,
    body .categorias {
      display: none; }
    html .grid-main,
    body .grid-main {
      grid-template-columns: 1fr 1fr; }
    html .grid-main > div p,
    body .grid-main > div p {
      font-size: medium;
      font-weight: 700;
      width: 100%; }
    html .grid-main > div,
    body .grid-main > div {
      align-items: center; }
    html .porque-elegirnos,
    body .porque-elegirnos {
      font-size: small; }
    html .texto-wpp,
    html .texto-face,
    html .texto-insta,
    body .texto-wpp,
    body .texto-face,
    body .texto-insta {
      font-size: 40%; } }
