@media (max-width: 1524px){


.menu a{
    font-size:15px;
    font-weight: 600;
}

.porque-elegirnos{

    font-size: 40px;
}

.titulo-categoria{
    font-size: large
}

.listado{
   font-size: 12px
}

.texto-envios-gratis,
.texto-devolucion,
.texto-garantia,
.texto-seguridad{
    font-size: 15px
}



}

@import url(responsive-711px.css);