<<<<<<< HEAD
@media (max-width: 711px){

    .porque-elegirnos{
        font-size: 20px;
        font-weight: 600;
    }


    .buscador{
        display: none;
    }
}
=======
>>>>>>> 1e83b04978d4c1bae366698974ba0a488c3486f7
